@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rebeccapurple;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Single Day', cursive;
}

.print-message-box {
    width: 600px;
    border-radius: 20px;
    padding: 20px 20px;
    border: 1px solid #6f6f6f;
    background: white;
    box-shadow: 5px 10px #000;
}

input, button {
    width: 100%;
    height: 40px;
    padding: 5px;
    border-radius:  10px;
    margin-bottom: 5px;
    font-family: 'Single Day', cursive;
}
input{
    border-color: rebeccapurple;
    text-align: center;
    padding: 2px;   
    
}
button{
    background-color: rebeccapurple;  
    color: white;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.7;
    transition: 1s;
}

button:hover {
    opacity: 1;
    background-color: white;
    color: rebeccapurple;
    border-color: rebeccapurple;
}

p{
    color: green;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}